/* Definição das caracteristicas estéticas da página */

body{
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;

    /* uiGradients */

    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, h2{
    font-weight: 300;
}